body {
  background-image: url(' pic/funtasty.png ');
  background-size: 100%;
  background-color: #ff9c5c;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;

  justify-content: center;
  align-items: end;
}
.adv {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#adventure {
  width: auto;
  height: 7vh;

  font-size: 0.8rem;
  font-weight: 700;
  padding: 0.2em 0.2em;
  border-radius: 7px;
  color: rgb(65, 39, 25);
  background-color: rgba(140, 112, 96, 0.276);
  border-color: rgb(65, 39, 25);
  transition: all 0.3s;
  cursor: pointer;
}

#adventure:hover {
  transform: translateY(-10px);
  background-color: rgb(65, 39, 25);
  color: aliceblue;
}
