body {
  margin: auto;
  background-color: #ff9c5c;
  color: rgb(65, 39, 25);
  height: 100vh;
  width: 70vw;
}

ol {
  height: inherit;
  background-color: #d18553e3;
  border-radius: 10px;
}

#levels {
  width: 20vw;
  height: 5vh;
  font-size: 0.8rem;
  font-weight: 700;
  padding: 0.2em 0.2em;
  border-radius: 7px;
  color: rgb(65, 39, 25);
  background-color: rgba(109, 90, 78, 0.276);
  border-color: rgb(65, 39, 25);
  transition: all 0.3s;
  cursor: pointer;
}

#levels:hover {
  transform: translateY(-10px);
  background-color: rgb(65, 39, 25);
  color: aliceblue;
}
