body {
  margin: auto;
  background-color: #ff9c5c;
  color: rgb(65, 39, 25);
  height: 100vh;
  width: 70vw;
}

#level_1,
#level_2,
#level_3 {
  width: 20vw;
  height: 5vh;
  font-size: 0.8rem;
  font-weight: 700;
  padding: 0.2em 0.2em;
  justify-content: center;
  border-radius: 7px;
  color: rgb(65, 39, 25);
  background-color: rgba(155, 97, 64, 0.276);
  border-color: rgb(100, 41, 9);
  transition: all 0.3s;
  cursor: pointer;
  margin-top: 6vh;
  margin-left: 6vw;
}

#level_1:hover,
#level_2:hover,
#level_3:hover {
  transform: translateY(-10px);
  background-color: rgb(65, 39, 25);
  color: aliceblue;
}

#toppingsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 10px;
}

#toppingsContainer img {
  width: 100%;
  display: block;
  border: 5px solid transparent; /* Hidden border */
}

#plainPizza {
  position: relative;
  width: 400px; /* Adjust to the width of your image */
  height: 400px; /* Adjust to the height of your image */
}

#plainPizza img {
  width: 100%;
  height: 100%;
  display: block;
}

#plainPizza::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr); /* Adjust the number of columns */
  grid-template-rows: repeat(10, 1fr); /* Adjust the number of rows */
  background: linear-gradient(0deg, transparent, transparent),
    linear-gradient(90deg, transparent, transparent);
}
